"*":
  "":
    basic:
      html:
        text:
          editor:
            softWrap: true
    source:
      yaml:
        editor:
          softWrap: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.lisp": [
        ".emacs"
        ".spacemacs"
      ]
      "source.python": [
        "BUCK"
      ]
      "text.html.basic": [
        "ejs"
        "htm"
        "html"
        "kit"
        "shtml"
        "tmpl"
        "tpl"
        "xhtml"
      ]
    disabledPackages: [
    ]
    projectHome: "/home/fusion809/GitHub/mine"
    themes: [
      "fusion-ui"
      "dark-bint-syntax"
    ]
  editor:
    showIndentGuide: true
    softWrap: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  "markdown-writer":
    textStyles:
      codeblock:
        after: "~~~"
        before: "~~~ bash"
        regexAfter: "\\n~~~"
        regexBefore: "~~~(?:[\\w- ]+)?\\n"
      italic:
        after: "*"
        before: "*"
  nuclide:
    "nuclide-home":
      showHome: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "toggle-soft-wrap":
    linter:
      showErrorPanel: false
  welcome:
    showOnStartup: false
