packages: [
  "browser-plus"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "language-archlinux"
  "language-c"
  "language-clojure"
  "language-coffee-script"
  "language-csharp"
  "language-css"
  "language-debian"
  "language-gentoo"
  "language-gfm2"
  "language-git"
  "language-go"
  "language-html"
  "language-hyperlink"
  "language-ini-desktop"
  "language-java"
  "language-javascript"
  "language-json"
  "language-less"
  "language-liquid"
  "language-lisp"
  "language-lua"
  "language-make"
  "language-mustache"
  "language-objective-c"
  "fusion809/language-patch2"
  "language-pascal"
  "language-perl"
  "language-php"
  "language-property-list"
  "language-python"
  "language-rpm-spec"
  "language-ruby"
  "language-ruby-on-rails"
  "language-rust"
  "language-sass"
  "language-scala"
  "language-source"
  "language-sql"
  "language-text"
  "language-todo"
  "language-toml"
  "language-unix-shell"
  "language-xml"
  "language-yaml"
  "markdown-writer"
  "minimap"
  "pigments"
  "terminal-fusion"
]
