packages: [
  "linter-shellcheck"
  "linter"
  "browser-plus"
  "language-liquid"
  "language-gentoo"
  "language-rust"
  "dark-bint-syntax"
  "fusion-ui"
  "terminal-fusion"
  "language-archlinux"
  "language-debian"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "language-asciidoc"
  "language-docker"
  "language-ini-desktop"
  "fusion809/language-patch2"
  "language-gentoo"
  "language-lisp"
  "language-rpm-spec"
  "markdown-writer"
  "minimap"
  "pigments"
  "language-unix-shell"
  "language-gfm2"
]
