"fusion809.github.io":
  title: "fusion809.github.io"
  paths: [
    "/home/fusion809/GitHub/mine/fusion809.github.io"
  ]
PKGBUILDs:
  title: "PKGBUILDs"
  paths: [
    "/home/fusion809/GitHub/mine/PKGBUILDs"
  ]
