/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

@import "ui-variables";

@background-color-highlight: #552;
@background-color-selected: #5903F3;
@tree-view-background-color: #535;

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // background-color: #282c34;
}

atom-text-editor::shadow .selected {
  background-color: #592;
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  border-color: red;
}

@import "/home/fusion809/.atom/devicons/css/devicons.css";
@import "/home/fusion809/.atom/font-linux/assets/font-linux.css";
@import "/home/fusion809/.atom/font-mfizz/dist/font-mfizz.css";
@import "/home/fusion809/.atom/ionicons/css/ionicons.css";

atom-workspace.project-manager {
  font-size: 14px;
}

atom-workspace.tree-view {
  background-color: #454;
}

.punctuation.output.liquid {
  color: #f35922;
}

.punctuation.tag.liquid {
  color: #94f125;
}

div.browser-plus webview {
  height: 100%;
}

.support.function.download {
  color: rgb(100,10,10);
}

@import "packages/file-icons/styles/colors"; // to use the colours
@import "packages/file-icons/styles/icons";  // to use the defined icons
@import "packages/file-icons/styles/items";

@{pane-tab-selector}, .icon-file-text {
  &[data-name="Manifest"]:before         { .gentoo-icon;        .light-purple; }
  &[data-name="gist.token"]:before       { .github-icon;        .dark-pink;    }
}

@{pane-tab-selector}, .icon-file-directory {
  // Arch Linux
  &[data-name$="-archlinux"]:before {
    .archlinux-icon;
    .medium-purple;
    font-weight: bold;
  }

  // Atom
  &[data-name="atom"]:before {
    .atom-icon;
    .light-blue;
    font-weight: bold;
  }

  // Config
  &[data-name=".config"]:before {
    .config-icon;
    .medium-cyan;
    font-weight: bold;
  }

  // Oh My Zsh
  &[data-name=".oh-my-zsh"]:before {
    .terminal-icon;
    .medium-blue;
    font-weight: bold;
  }

  // Emacs
  &[data-name^=".emacs.d"]:before {
    .emacs-icon;
    .dark-cyan;
    font-weight: bold;
  }
}

@{pane-tab-selector}, .icon-file-symlink-directory {
  // Arch Linux
  &[data-name$="-archlinux"]:before {
    .archlinux-icon;
    .dark-cyan;
    font-weight: bold;
  }
}
